#homeCard{
    margin: 2rem;
    width: 25rem;
    height: auto;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#homeTitle {
    color: #4D2D20;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 177.5%;
    margin-bottom: 4px;
    padding-top: .6rem;
}

.homeText{
    color: black;
    font-family: 'Ubuntu';
font-style: normal;
font-weight: 400;
font-size: 20px;
padding-bottom: 1.7rem;
}

#homeInfoDiv {
    margin:5%;
}