.cheatsheetTitle {
    margin-left: 5%;
    margin-top: 2%;
}

@media screen and (max-width: 1500px) {
    .cheatsheetTitle {
        margin-left: 10%;
        margin-top: 3%;
    }
  }
@media screen and (max-width: 600px) {
    .cheatsheetTitle {
        margin-left: 15%;
        margin-top: 6%;
    }
  }