.cheatsheetTitle {
    margin-left: 8%;
    margin-top: 1%;
    color: rgb(120, 114, 114);
}

@media screen and (max-width: 1500px) {
    .cheatsheetTitle {
        margin-left: 10%;
        margin-top: 3%;
    }
  }
@media screen and (max-width: 600px) {
    .cheatsheetTitle {
        margin-left: 15%;
        margin-top: 6%;
    }
  }